<main>
    <article class="detail">
        <header>
            <h1>{{object.label.title}}</h1>
            <p>{{object.principalMaker}}, {{object.physicalMedium}}, {{object.dating.presentingDate}}</p>
        </header>
        <section>
            <img src="{{object.webImage.url}}{{imgSize}}"> 
            <p>{{object.label.description}}</p> 
        </section>
    </article>

    {{> search }}
</main>


