<main>
    <section class="detail">
        <h1>{{object.label.title}}</h1>
        <img src="{{object.webImage.url}}{{imgSize}}"> 
        <p>{{object.principalMaker}}, {{object.physicalMedium}}, {{object.dating.presentingDate}}</p>
        <p>{{object.label.description}}</p>
    </section>

    {{> search }}
</main>


