<main>
    <section class="titels">
        <h2>{{subtitle}}</h2>
        <h1><span>'{{title}}'</span></h1>
    </section>

    <section class="resultaten">
        {{#each objects}}
            <article>
                <a href="/detail/{{objectNumber}}" id="{{objectNumber}}">
                    <h3>{{title}}</h3>
                    <img src="{{webImage.url}}700">
                </a>
                <img src="images/bookmark.svg" bookmark bookmarkID="{{objectNumber}}">
            </article>
        {{/each}}
    </section>

    {{> search }}
</main>


